---
layout: default
---

<div class="home">
<div class="row">    
    <!-- about panel -->
    <div class="col-md-3 col-sm-4 col-xs-12 about">
      <div class="row text-center">
        <h4 class="text-signature">Welcome!</h4>
      </div>
      <div class="row welcome-portal">
        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-6">
          <img class="profile-img" src="public/images/nikki.jpg" />
        </div> 
        <div class="col-md-6 col-sm-6 col-xs-6">
           <p><small>With over 40 years of professional astrological experience, my services are 
           guaranteed to point you in the right direction.</small></p>
        </div>
      </div>
      <div class="row">
         <a href="services" class="btn btn-primary service-button">Services</a>
      </div>
      <div class="social-media">
        <a href="https://twitter.com/nikiastro" class="twitter-follow-button" data-show-count="false">Follow @nikiastro</a>
        <div class="fb-like" data-href="https://www.facebook.com/celestialloom" data-width="100" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
    <div class="col-md-8 col-sm-7 col-xs-12 content">
      <h2><em><small>View the latest from </small><a href="//nikiastro.wordpress.com/">AstroSynergistics</a><small>, the astrology blog of Nikki Davenport</small></em></h2>
      <div class="blog-content">
        <h3><%= @feed.items[0].pubDate %></h3>
        <h3><%= @feed.items[0].title %></h3>
        <p><%= @feed.items[0].description.html_safe %></p>
      </div>
    </div>
  </div>

</div>
