<header class="site-header">
  <div class="banner">
    <div class="banner-inner col-xs-12 col-sm-12 col-md-12">
      <div class="spacer">
      </div>
      <div class="banner-title">
        <h1><img src="{{ site.baseurl }}public/images/celestial-logo.png" />The Celestial Loom</h1>
        <p class="text-light">Astrological Services</p>
      </div>
      <nav>
        <ul class="nav nav-pills banner-navbar">
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}services">Services</a></li>
          <li><a href="{{ site.baseurl }}signs">Signs of the Zodiac</a></li>
          <li><a href="{{ site.baseurl }}planets">Planets</a></li>
          <li><a href="{{ site.baseurl }}houses">Houses</a></li>
          <li><a href="{{ site.baseurl }}events">Current Events</a></li>

        </ul>
      </nav>
    </div>
  </div>
</header>
