<header class="site-header">
  <div class="banner row">
    <div class="banner-inner col-xs-12 col-sm-12 col-md-12">
      <div class="spacer">
      </div>
      <div class="banner-title">
        <h1>Nikki Davenport</h1>
        <p class="text-light">Astrological Services</p>
      </div>
      <nav class="navbar navbar-default navbar-banner" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <p class="navbar-text visible-xs">Click here to explore...</p>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}">Home</a></li>
              <li><a href="{{ site.baseurl }}/services">Services</a></li>
              <li><a href="{{ site.baseurl }}/signs">Signs of the Zodiac</a></li>
              <li><a href="{{ site.baseurl }}/planets">Planets</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
