body {
    background-color: #FCFCFC;
    font-family: 'Merriweather', serif;
}
.profile-img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}
.banner {
    font-style: italic;
    height: 100px;
    background-image: url("../images/nikiastro-banner-moon2.png");
    background-position: center;
    background-size: 200%;
    color: white;
    text-align: center;
}
.banner-inner {
    padding: 0;
    margin-bottom: 20px;
    background-image: url("http://subtlepatterns.com/patterns/stardust.png");
}
.banner-title {
    opacity: 0.9;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Berkshire Swash', cursive;
    
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
    img {
        height: 50px;
    }
}

.spacer {
    height: 5px;
}
.banner-navbar li {
    width: 49%;
    text-align: center;
    font-weight: bold;
    
    a {
        color: #DEDEDE;
        border-radius: 0;
    }
    a:hover {
        color: #383838;
    }
}
.service-button {
    width: 65%;
    display: block;
    margin: 0 auto;
}
.content {
    padding-left: 25px;
    padding-right: 25px;
}
.service-price {
    font-style: italic;
    font-size: large;
}
.service-title {
    font-style: italic;
}
.service-content {
    overflow: auto;
    border: 1px solid gray;
}
.service-wrapper {
    padding: 10px;
    background-color: #D3D3D3;
    border-radius: 2px;
}
@media (min-width: 768px) {
    .banner {
        height: 150px;
        background-size: 125%;
        text-align: left;
    }
    .spacer {
        height: 10px;
    }
    .banner-title {
        margin-left: 50px;
        margin-bottom: 10px;
        
        h1 {
        font-size: 4em;
        }
        p {
            font-size: 2em;
        }
        img {
            height: 70px;
        }
    }
    .blog-content {
        border-left: 2px solid #D8D8D8;
        padding-left: 10px;
    }
    .banner-navbar li {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .banner {
        height: 200px;
        text-align: left;
    }
    .spacer {
        height: 12px;
    }
    .banner-title {
        margin-left: 70px;
        margin-bottom: 10px;
  
        h1 {
            font-size: 5em;
        }
        p {
            font-size: 2.5em;
        }
        img {
            height: 90px;
        }
    }
    .banner-navbar li {
        width: 16%;
    }
}

.footer {
    text-align: center;
    font-size: xx-small;
}
.profile-pic {
    width: 30%;
    margin: 0 auto;
}

@media(max-width: 768px) {
    .about {
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .welcome-portal {
        margin-bottom: 10px;
    }
    .blog-content {
        border-top: 2px solid #D8D8D8;
        padding-top: 10px;
    }
}
.blog-content {
    width: 90%;
    margin: 0 auto;
}
.about {
    font-size: small;
}
.banner-navbar {
    border-top: 1px solid #D8D8D8;
    border-radius: 0;
    -moz-box-shadow: 0 2px 4px -2px #232323;
    -webkit-box-shadow: 0 2px 4px -2px #232323;
    box-shadow: 0 4px 2px -2px #232323;
}

.text-light {
    color:  #DEDEDE;
}
.text-signature {
    font-style: italic;
    font-family: 'Berkshire Swash', cursive;
}
.post-title {
    padding-left: 10px;
    padding-bottom: 10px;
}