/* Background pattern from subtlepatterns.com */
body {
    background-color: #8a8b8d;
    font-family: 'Merriweather', serif;
}

@font-face {
    font-family: 'AstroGadget';
    src: url("../public/fonts/AstroGadget.ttf") format('truetype');
}
.gadget {
    font-family: 'AstroGadget';
}
.gadget-big {
    font-family: 'AstroGadget';
    font-size: 1.75em;
}
.tiny-bullets {
    text-align: center;
    font-weight: bold;
}
.center-align {
    text-align: center;
}
.icon-panel {
    text-align: center;
    margin-bottom: 10px;
}
.page-content-row {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.service {
    margin-bottom: 20px;
}
.profile-img {
    border: 1px solid #8a8b8d;
    border-radius: 2px;
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}
.banner {
    font-style: italic;
    height: 100px;
    background-position: center;
    background-size: 200%;
    color: white;
    text-align: center;
}
.banner-inner {
    padding: 0;
    margin-bottom: 20px;
    background-image: url("../public/images/stardust.png");
}
.banner-title {
    opacity: 0.9;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Berkshire Swash', cursive;
    
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
    img {
        height: 50px;
    }
}

.spacer {
    height: 5px;
}
.banner-navbar li {
    width: 49%;
    text-align: center;
    font-weight: bold;
    
    a {
        color: #DEDEDE;
        border-radius: 0;
    }
    a:hover {
        color: #383838;
    }
}
.service-button {
    width: 65%;
    display: block;
    background-color: #138808;
    border-color: #568203;
    margin: 0 auto;
    font-weight: bold;
    color: #FEFEFA;
}
.bio {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #D8D8D8;
    text-align: center;
}
.content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}
.service-purchase {
    border-top: 1px solid #D8D8D8;
    padding-right: 20px;
    padding-top: 10px;
    text-align: right;
}
.service-price {
    font-style: italic;
    font-size: large;
    color: black;
    padding-right: 15px;
}
.service-title {
    font-style: italic;
}
.service-content {
    overflow: auto;
    border: 1px solid gray;
}
.service-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    ul {
        font-size: small;
        font-style: italic;
    }
}
.social-media {
    padding: 10px;
    * {
      display: block !important;
      margin: 0 auto; 
      margin-bottom: 15px;
    }
}
.blog-title {
    font-style: italic;
    text-align: center;
    line-height: 0.25;
}
.blog-footer {
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog-wrapper {
    background-color: #fbfafa;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    padding: 10px;
}

@media (min-width: 768px) {
    .banner {
        height: 150px;
        background-size: 125%;
        text-align: left;
    }
    .spacer {
        height: 10px;
    }
    .banner-title {
        margin-left: 50px;
        margin-bottom: 10px;
        
        h1 {
        font-size: 4em;
        }
        p {
            font-size: 2em;
        }
        img {
            height: 70px;
        }
    }
    .blog-content {
        padding: 10px;
    }
    .banner-navbar li {
        width: 33%;
    }
    .about {
        margin-left: 25px;
    }
    .content {
        margin-left: 30px;
    }
    .page-content {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (min-width: 992px) {
    .banner {
        height: 200px;
        text-align: left;
    }
    .spacer {
        height: 12px;
    }
    .banner-title {
        margin-left: 70px;
        margin-bottom: 10px;
  
        h1 {
            font-size: 4.5em;
        }
        p {
            font-size: 2.25em;
        }
        img {
            height: 90px;
        }
    }
    .banner-navbar li {
        width: 16.5%;
    }
    .about {
        margin-left: 30px;
    }
    .content {
        margin-left: 30px;
    }
    .page-content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.footer {
    text-align: center;
    font-size: xx-small;
}
.profile-pic {
    width: 30%;
    margin: 0 auto;
}

@media(max-width: 768px) {
    .about {
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .welcome-portal {
        margin-bottom: 10px;
    }
    .blog-content {
        border-top: 2px solid #D8D8D8;
        padding-top: 10px;
    }
    .icon-panel {
        text-align: center;
        margin-bottom: 20px;
    }
    .page-content-row {
        margin-bottom: 0px;
        padding-top: 0px;
    }
}

.blog-content {
    border-top: 1px solid #d3d3d3;
    background-color: white;
    padding: 20px;
    height: 320px;
    overflow: auto;
}
.page-content {
    padding: 30px;
}
.about {
    font-size: small;
    margin-bottom: 20px;
    padding-top: 15px;
}
.banner-navbar {
    border-top: 1px solid #D8D8D8;
    border-radius: 0;
    -moz-box-shadow: 0 2px 4px -2px #232323;
    -webkit-box-shadow: 0 2px 4px -2px #232323;
    box-shadow: 0 4px 2px -2px #232323;
}

.text-light {
    color:  #DEDEDE;
}
.text-signature {
    font-style: italic;
    font-family: 'Berkshire Swash', cursive;
    padding-bottom: 10px;
}
.post-title {
    padding-left: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #e5e4e4;;
}
.wrapper {
    padding: 10px;
}
.area-panel {
    box-shadow: 0 0 2px 2px #646567;
    background-color: white;
    border-radius: 2px;
}
.copy-footer {
    text-shadow: 0 1px 0 #e5e4e4;
    width: 300px;
    margin: 0 auto;
    line-height: 1.25;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-style: bold;
    .gadget {
        font-size: 2em;
    }
}
.planet-tagline {
    font-size: 1.15em;
    font-style: italic;
}
