<h1>Listing services</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th colspan="1"></th>
  </tr>
 
  <% @services.each do |service| %>
    <tr>
      <td><%= service.name %></td>
      <td><%= service.description %></td>
      <td><%= service.price %></td>
      <td><%= link_to 'Show', service_path(service) %></td>
    </tr>
  <% end %>
</table>
